public/includes/auth
public/includes/images/icons/apricorn/
public/includes/images/icons/battle-item
public/includes/images/icons/berry
public/includes/images/icons/body-style
public/includes/images/icons/etc
public/includes/images/icons/ev-item
public/includes/images/icons/evo-item
public/includes/images/icons/flute
public/includes/images/icons/fossil
public/includes/images/icons/gem
public/includes/images/icons/hm
public/includes/images/icons/hold-item
public/includes/images/icons/incense
public/includes/images/icons/key-item
public/includes/images/icons/mail
public/includes/images/icons/medicine
public/includes/images/icons/mega-stone
public/includes/images/icons/mulch
public/includes/images/icons/other-item
public/includes/images/icons/plate
public/includes/images/icons/pokeball
public/includes/images/icons/scarf
public/includes/images/icons/shard
public/includes/images/icons/status
public/includes/images/icons/tm
public/includes/images/icons/valuable-item
public/includes/images/icons/wonder-launcher

/vendor/
