
/*        CONTAINERS       */




/* FORM AND TABLE CONTAINERS */



/* both containers */
.section-div {
	margin-right:auto;
	margin-left:auto;
	width:75%;
	text-align:center;

}

/* container for whole form */
#form-div {
	margin-bottom:10px;
	padding:10px;
	border:none;
}


/* container for whole table */
#table-div {
	padding:10px;
	border:none;
}


/* choices container */
#choices-container {
	
	padding-top:10px;
	padding-bottom:30px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}


#submit-container {

	padding:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:100%;
	float:left;
}





/*                 THINGS            */



/* FORM BUTTONS */

/* all form  buttons */
select {
	margin:4px;
	padding:10px;
	background-color:#ffff;
	width:20%;
	float:left;	
}
select:hover {
	background-color:#ffffdd;
}




/* first button */
select[name='caughtStatus'] {
	float:auto;
}



/* second button */
select[name='type'] {
	float:auto;

}


/* third button */
select[name='type2'] {
	float:auto;
}



/* fourth button */
select[name='generation'] {
	float:auto;
}


/* submit button */
#submit {
	border:1px black solid;
	border-radius:8px;
	padding:10px;
	margin:0 auto;
	background-color:silver;
	width:40%;

}




/*		TABLE		*/


/* table itself */
#pokedex-table {
	border:1px black solid;
	border-radius:8px;
	padding-bottom:20px;
	background-color:#ffffaa;
	width:100%;
	margin:0 auto;

}


/* head row */
#table-head {
	

}



/* head cells */
.head-cell {
	padding-top:20px;
	padding-bottom:20px;
	border:0px solid black;
}


/* whole body */
#table-body {



}


.table-row {
	background-color:#ffffaa;
	height:25px;
}


.table-row:hover {
	background-color:#ffffdd;
}


/* every cell */
td {
	text-align:center;
	height:50px;
}

/* just the caughtStatus cell */
.cell-div {
	display:block;
	height:100%;
	width:100%;
}


#caughtCell {
	padding:10px;
	height:18px;
}

.fadedPokeball {
	opacity: 0.1;
	height:30px;
}

.opaquePokeball {
	opacity: 1.0;
	height:36px;
}



#nationalDexCell {


}



#nameCell {


}



#typeCell {


}
